:root{
    --white: #fff;
    --black: #080b12;
    --dark-grey: #141922;
    --grey: #a3a3a3;
    --graphite: #282828;
}

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* GENERICS */
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
}

h2{
    color: var(--white);
}

p{
    color: var(--grey);
    font-size: 12px;
}

img{
    width: 100%;
    display: block;
}

/* UTILITY */
.flex{
    display: flex;
}

.mg-l10{
    margin-left: 10px;
}

.mg-b20{
    margin-bottom: 20px;
}

.mg-b10{
    margin-bottom: 10px;
}

/* BUTTONS */
.btn{
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    width: 200px;
    height: 40px;
    font-size: 12px;
}

/* ! MAIN ************************/
/*?DIV CONTENT */
.content{
    margin-left: ;
    background-color: brown;
    margin-top: 50px;
    overflow-y: auto;
    height: calc(100vh - 150px);
    background-color: blue;
    margin-left: 200px;
    background-color: #141922;
}

/*? SIDE-BAR */
.side-bar{
    width: 200px;
    background-color: var(--black);
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

#logo{
    width: 120px;
    margin-top: 5px;
}

#logo-small{
    width: 50px;
    margin-top: 5px;
    display: none;
}

.icons-side{
    width: 20px;
    vertical-align: middle;
}

.top-card .normal{
    display: flex;
}

.side-bar li{
    margin-top: 10px;
}

.side-bar h3{
    margin-top: 20px;
}

.top-card h3{
    color: var(--white);
}

.playlist li a{
    padding: 0;
}

.playlist li:first-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
}

.playlist li span:first-child{
    color: var(--grey);
    font-size: 40px;
}

.profile{
    width: 30px;
    height: 30px;
    float: left;
    background-color: var(--grey);
    border-radius: 50%;
    background-image: url(../img/profile.svg);
    background-position: 50% 50%;
    background-size: contain;
}

.install{
    border-bottom: var(--grey) solid 2px;
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

.bottom-card span{
    color: var(--grey);
    font-size: 15px;
}

.bottom-card p{
    margin-top: 1rem;
    padding-left: 40px;
}

/********** MOBILE ICONS SIDE-BAR */

.mobile{
    display: none;
}

/* ****************************** */


/*? HEADER */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 50px;
    background-color: var(--black);
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    left: 200px;
}

nav ul{
    font-size: 13px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 100%;
    color: var(--grey);
}

nav li{
    border-bottom: #141922 solid 2px;
}

nav a{
    color: var(--grey);
}

/*? RECENTLY-PLAYED */
.recently{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.recently .card{
    flex-basis: calc(100% / 6 - 20px) ;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.card p:nth-child(2){
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

.card p:nth-child(3){
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}

/*? CREATED-FOR */
.created-for{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.created-for .card{
    flex-basis: calc(100% / 6 - 20px) ;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.card p:nth-child(2){
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

.card p:nth-child(3){
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}

/*? POPOLAR */
.popolar{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.popolar .card{
    flex-basis: calc(100% / 6 - 20px) ;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.card p:nth-child(2){
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

.card p:nth-child(3){
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}


/***********? FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: var(--graphite);
}

/*? LEFT-CONTROLS */
.left-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding-left: 10px;
}

.left-controls .left-card{
    width: 70%;
    display: flex;
}

.left-controls .right-card{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: var(--grey);
}

.current-song{
    width: 50px;
    height: 50px;
}

.txt-song{
    color:var(--white);
    font-size: 10px;
    padding: 5px;
}

/*? CENTER-CONTROLS */
.center-controls{
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3);
}

.center-controls .top-card{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    color: #ffffff;
    justify-content: space-between;
}

.center-controls .bottom-card{
    display: flex;
    flex-basis: 50%;

    justify-content: space-between;
    align-items: center;

    color: var(--white);
    font-size: 10px;
}

.bottom-card .numbers{
    font-size: 12px;
    padding: 5px ;
}

.progress-bar{
    width: 80%;
    height: 5px;
    background-color: var(--grey);
    border-radius: 20px;
}

.progress-bar .value{
    width: 20%;
    background-color: var(--white);
    height: 5px;
}

/*? RIGHT-CONTROLS */
.right-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 200px;
    font-size: 15px;
    color: var(--grey);
    padding-right: 10px;
}

.volume-bar{
    height: 5px;
    width: 30%;
    border-radius: 20px;
    background-color: var(--grey);
}

.volume-bar .value{
    width: 20%;
    background-color: var(--white);
    height: 5px;
}

/*! MEDIA QUERY **********************/
@media screen and (max-width: 768px) {
    .recently .card{
        flex-basis: calc(100% / 4 - 20px);
    }
    .created-for .card{
        flex-basis: calc(100% / 4 - 20px);
    }
    .popolar .card{
        flex-basis: calc(100% / 4 - 20px);
    }
}


@media screen and (max-width: 576px) {
    .recently .card{
        flex-basis: calc(100% / 2 - 20px);
    }
    .created-for .card{
        flex-basis: calc(100% / 2 - 20px);
    }
    .popolar .card{
        flex-basis: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 480px) {
    .content{
        margin-left: 50px;
    }

    .side-bar{
        width: 50px;
    }

    header{
        width: calc(100% - 50px);
        left: 50px;
    }
}