:root{
    --white: #fff;
    --black: #080b12;
    --dark-grey: #141922;
    --grey: #a3a3a3;
    --graphite: #282828;
}

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* GENERICS */
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    padding: 5px 10px;
    color: var(--grey);
}

a:hover{
    color: var(--white);
}

h2{
    color: var(--white);
}

p{
    color: var(--grey);
    font-size: 12px;
}

img{
    width: 100%;
    display: block;
}

/* UTILITY */
.flex{
    display: flex;
}

.mg-l10{
    margin-left: 10px;
}

.mg-b20{
    margin-bottom: 20px;
}

.mg-b10{
    margin-bottom: 10px;
}

/* BUTTONS */
.btn{
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin-right: 20px;
    width: 200px;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--black);
}

.btn:hover{
    height: 40px;
    padding: 10px;
}

/* ! MAIN ************************/
/*?DIV CONTENT */
.content{
    background-color: brown;
    overflow-y: auto;
    height: calc(100vh - 100px);
    background-color: blue;
    margin-left: 200px;
    background-color: #141922;
}

/*? SIDE-BAR */
.side-bar{
    width: 200px;
    background-color: var(--black);
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    overflow: auto;
}

#logo{
    width: 120px;
    margin-top: 5px;
}

#logo-small{
    width: 50px;
    margin-top: 5px;
    display: none;
}

.icons-side{
    width: 20px;
    vertical-align: middle;
}

.top-card .normal{
    display: flex;
}

.normal a{
    font-size: 12px;
}

.side-bar li{
    margin-top: 10px;
}

.side-bar h3{
    margin-top: 20px;
}

.top-card h3{
    color: var(--white);
}

.playlist li a{
    padding: 0;
    font-size: 13px;
}

.playlist li:first-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
}

.playlist li span:first-child{
    color: var(--grey);
    font-size: 40px;
}

.playlist li span:first-child:hover{
    color: var(--white);
    cursor: pointer;
}


.bottom-card .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.profile-img{
    width: 30px;
    height: 30px;
    background-color: var(--grey);
    border-radius: 50%;
    background-image: url(../img/profile.svg);
    background-position: 50% 50%;
    background-size: contain;
}

.install{
    border-bottom: var(--grey) solid 2px;
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

.install > *:hover{
    color: var(--white);
    cursor: pointer;
}

.bottom-card span{
    color: var(--grey);
    font-size: 15px;
}

/********** MOBILE ICONS SIDE-BAR */

.mobile{
    display: none;
}

/* ****************************** */


/*? HEADER */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: sticky;
    top: 0;
    left: 200px;
    z-index: 1;
}

nav ul{
    font-size: 13px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 100%;
    color: var(--grey);
}

nav li{
    border-bottom: #141922 solid 2px;
}

nav a{
    color: var(--grey);
}

/*? RECENTLY-PLAYED */
/** HOVER ALL CARDS PLAY */

figure{
    position: relative;
}

figure:hover::after{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f144";
    color: var(--white);
    font-size: 50px;
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****************** *** */

.recently{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.recently .card{
    flex-basis: calc(100% / 6 - 20px) ;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.card p:nth-child(2){
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

.card p:nth-child(3){
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}

/*? CREATED-FOR */
.created-for{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.created-for .card{
    flex-basis: calc(100% / 6 - 20px) ;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.card p:nth-child(2){
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

.card p:nth-child(3){
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}

/*? POPOLAR */
.popolar{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.popolar .card{
    flex-basis: calc(100% / 6 - 20px) ;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.card p:nth-child(2){
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

.card p:nth-child(3){
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}


/***********? FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: var(--graphite);
}

/*? LEFT-CONTROLS */
.left-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    flex: 0 0 200px;
}

.left-controls .left-card{
    width: 70%;
    display: flex;
}

.left-controls .right-card{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: var(--grey);
}

.left-controls .right-card span:hover{
    color: var(--white);
    cursor: pointer;
}

.current-song{
    width: 50px;
    height: 50px;
}

.txt-song{
    color:var(--white);
    font-size: 10px;
    padding: 5px;
}

/*? CENTER-CONTROLS */
.center-controls{
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
}

.center-controls .top-card{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    color: #ffffff;
    justify-content: space-between;
}

.center-controls .top-card span:hover{
    cursor: pointer;
    font-size: 20px;
}


.center-controls .bottom-card{
    display: flex;
    flex-basis: 50%;

    justify-content: space-between;
    align-items: center;

    color: var(--white);
    font-size: 10px;
}

.bottom-card .numbers{
    font-size: 12px;
    padding: 5px ;
}

.progress-bar{
    width: 80%;
    height: 5px;
    background-color: var(--grey);
    border-radius: 20px;
    cursor: pointer;
}

.progress-bar .value{
    width: 20%;
    background-color: var(--white);
    height: 5px;
    position: relative;
    border-radius: 20px;
}

/* MARKER PROGRESS-BAR SONG */
.bottom-card .value .marker{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: goldenrod;
    position: absolute;
    top: -50%;
    right: 0;
    display: none;
}

.progress-bar:hover .marker{
    display: block;
}

.center-controls:hover .progress-bar .marker{
    display: block;
}

/*? RIGHT-CONTROLS */
.right-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    flex: 0 0 200px;
    color: var(--grey);
    margin-right: 5px;
}

.right-controls span:hover{
    cursor: pointer;
    color: var(--white);
}

.volume-bar{
    height: 5px;
    width: 30%;
    border-radius: 20px;
    background-color: var(--grey);
    cursor: pointer;
}

.volume-bar .value{
    width: 20%;
    background-color: var(--white);
    height: 5px;
    position: relative;
    border-radius: 20px;
}

/* MARKER PROGRESS-BAR VOLUME */
.volume-bar .value .marker{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: goldenrod;
    position: absolute;
    top: -50%;
    right: 0;
    display: none;
}

.volume-bar:hover .marker{
    display: block;
}



/*! MEDIA QUERY **********************/
@media screen and (max-width: 768px) {
    .recently .card{
        flex-basis: calc(100% / 4 - 20px);
    }
    .created-for .card{
        flex-basis: calc(100% / 4 - 20px);
    }
    .popolar .card{
        flex-basis: calc(100% / 4 - 20px);
    }

    
    .left-controls{
        flex: 0 0 150px;

    }

    .center-controls{
        flex: 0 0 200px;

    }

    .right-controls{
        flex: 0 0 150px;

    }
}


@media screen and (max-width: 576px) {
    
    .recently .card{
        flex-basis: calc(100% / 2 - 20px);
    }
    .created-for .card{
        flex-basis: calc(100% / 2 - 20px);
    }
    .popolar .card{
        flex-basis: calc(100% / 2 - 20px);
    }

    .left-controls{
        flex: 0 0 150px;
    }

    .center-controls{
        flex: 0 0 200px;
    }

    .right-controls{
        flex: 0 0 150px;
    }
}

@media screen and (max-width: 480px) {
    .content{
        margin-left: 50px;
    }
    /* SIDE-BAR */
    .side-bar{
        width: 50px;
        padding-left: 0;
    }

    #logo{
        display: none;
    }

    #logo-small{
        width: 30px;
        display: inline-block;
    }

    .side-bar .top-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .side-bar a{
       padding: 0;
    }

    .side-bar .normal{
        display: none;
    }

    .side-bar .mobile{
        display: inline-block;
    }
    
    .side-bar .bottom-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .playlist{
        display: none;
    }

    .install{
        display: none;
    }

    .left-controls{
        flex: 0 0 100px;
    }

    .center-controls{
        flex: 0 0 150px;
    }

    .right-controls{
        flex: 0 0 100px;
    }
}